h1,
h2,
h3 {
    margin: auto;
    text-align: center;
    font-size: 4vh;
}

hr {
    border-color: #fff;
    background-color: #fff;
    color: #fff;
    height: 2px;
    border-radius: .6em;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: #fff solid thick;
    border-radius: .6em;
    padding: .5em;
    margin: 2em;
}

.highlight {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

input {
    text-align: right;
    border: #84dcc6 solid;
    padding: .5rem;
    caret-color: #84dcc6;
    color: #84dcc6;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: .6em;
    margin: 0 2rem 1rem;
}

::placeholder {
    color: #84dcc6;
    opacity: 1;
}

#template {
    display: none;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffa69e;
    color: white;
    font-size: 1.5rem;
}

#homeReturn {
    background-color: white;
    color: #ffa69e;
    border: thick dashed #84dcc6;
    margin: .5rem;
    padding: .5rem;
    border-radius: .6em;
    text-align: center;
    font-size: 1.2rem;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 70%;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffa69e;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5;
}

.container {
    color: #ffa69e;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    align-content: center;
    padding: .5rem .0;
    text-align: center;
    background-color: white;
    border-radius: .6em;
}

.input-button {
    background-color: white;
    color: #ffa69e;
    border: thick dashed #84dcc6;
    margin: 0 4.5rem;
    padding: .5rem;
    border-radius: .6em;
    text-align: center;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.choiceButtons {
    background-color: white;
    color: #ffa69e;
    border: thick dashed #84dcc6;
    margin: .4rem 1.5rem 0;
    padding: 1rem;
    border-radius: .6em;
    text-align: center;
    font-size: 2rem;
    transition: background-color 0.3s ease;
}

.input-button:hover {
    background-color: #84dcc6;
    color: white;
}

.container-score {
    color: white;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100vmin;
    align-content: center;
    padding: 1rem;
    text-align: center;
    background-color: #ffa69e;
    border-radius: .6em;
    font-size: 2.5vh;
}